<<<<<<< HEAD
header {
    background-color: maroon;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; 
}
=======
header {
    background-color: maroon;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; 
}
>>>>>>> f0d35c1 (Update: Change layout and fix dark mode)
